<table
  align="center"
  bgcolor=""
  cellpadding="0"
  cellspacing="0"
  color=""
  style="font-family: tahoma, sans-serif; color: #313136;"
  width="600"
>
  <tbody>
    <tr>
      <td
        align="left"
        bgcolor=""
        width="600"
        id="email_body_wrapper"
        style="background:#ffffff;"
      >
        <table align="center" cellpadding="0" cellspacing="0" width="500">
          <tbody>
            <tr>
              <td width="500" align="center">

                <div style="line-height:34px;">&nbsp;</div>
                <div style="text-align: center;">
                  <div class="bse-tb-custom-tag" style="width:100%;">
                    <div
                      class="main_email_text_container bse-tb-content-wrapper text-editor inline-editor"
                      style="font-size: 18px; line-height: 1.2; letter-spacing: 0px; font-weight: normal; text-align: center; color: #313136;"
                    >
                      <div style="font-size: 24px;">
                        <strong>Single Use Login Access Code</strong>
                      </div>
                      <div style="line-height:30px;">&nbsp;</div>
                      <div><strong>Hi {{payload.first_name}},</strong></div>
                      <div style="line-height:20px;">&nbsp;</div>
                      <div>You have requested an access code:</div>
                      <div style="line-height: 1.5;"><strong
                        >{{payload.access_code}}</strong></div>

                      <div style="line-height:30px;">&nbsp;</div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td width="500">
                <div style="line-height:31px;">&nbsp;</div>
                <div style="text-align: center;">
                  <div class="bse-tb-custom-tag" style="width:100%;">
                    <div
                      class="login_disregard_text_container bse-tb-content-wrapper text-editor inline-editor"
                      style="font-size: 12px; line-height: 1.2; letter-spacing: 0px; font-weight: normal; text-align: center; color: #313136;"
                    >
                      <div>PS: If you did not attempt to log into your account,
                        please disregard this email.</div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td width="500" align="center">
                <div style="line-height:25px;">&nbsp;</div>
                <div style="text-align: center;">
                  <div
                    class="bse-tb-custom-tag"
                    style="display:inline-block;width:100%"
                  >
                    <div
                      class="event_app_contact_us bse-tb-content-wrapper text-editor inline-editor"
                      style="font-size: 18px; line-height: 26px; letter-spacing: 0px; font-weight: normal; text-align: center; color: #313136;"
                    >
                      If you have any questions, Please
                      <a
                        href="mailto:{$administrator_email}"
                        style="color:inherit;text-decoration:underline;"
                      ><strong>Contact us</strong></a>

                      <div style="line-height:40px;">&nbsp;</div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>